mark {
    padding: 2px 4px;
    margin: 2px;
    font-size: 90%;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    @media print {
		color: #000000;
		background-color: #FFFFFF;
	}
}

ul.icons a:hover {
    background: rgba(0, 0, 0, 0.025);
}
  
ul.icons li {
    display: inline-block;
    padding-left: 0.75em;
}
  
ul.icons a {
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -ms-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    display: inline-block;
    width: 2.75em;
    height: 2.75em;
    line-height: 2.8em;
    text-align: center;
    border: 0;
    box-shadow: none;
    padding:0;
    border-radius: 100%;
    @media print {
        display: initial;
        line-height: 5px;
    }
    
}
.icons i {
    font-size: 30px;
    line-height:60px;
    @media print {
        font-size: 15px;
        line-height:5px;        
    }
}

.icons {
    padding: 0;
    font-size: 1em;
    padding-left: 3cm;
    margin-bottom:20px;
    text-align: center;
    @media print {
        padding-left: 2cm;
        margin-bottom:5px;
        text-align: left;
        a:link:after, a:visited:after, a:-webkit-any-link {
            content: " " attr(href) " ";
            text-decoration: none;
        }
    }
    @media screen and (max-width: 768px) {
        padding-left: 0cm;
        margin-right:50px;
    }
}
   
.header-right {
    text-align: right;
}
  
.header-left {
    margin-top: 10px;
    @media print {
        margin-top: 0px;
    }
}

.el-avatar {
    height: 100px;
    width: 100px;
    line-height: 100px;
    @media screen and (max-width: 420px) {
       height: 80px;
       width: 80px;
       line-height: 80px;
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
    a:link:after, a:visited:after, a:-webkit-any-link {
        content: " (" attr(href) ") ";
        font-size: 90%;
        text-decoration: none;
    }
    @page { margin: 0.5cm }
}

.corner-ribbon{
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.corner-ribbon.top-right{
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #1e8ad6
  }

  .corner-ribbon.sticky{
    position: fixed;
  }

  .el-footer{
    @media print {
        display: none !important;
    } 
    margin: 0 auto;
    padding-top: 10px;
  }
